h1 Products#show
p Find me in app/views/products/show.html.slim

/p
/  strong Name:
/  = @product.name
/
/p
/  strong Price:
/  = @product.price
/
/p
/  strong Description:
/  = @product.description
/
/= link_to 'Back', products_path